<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>HTML5</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Matrix</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item dropdown">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Action
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="/determinant">Find the determinant</a>
                        <a class="dropdown-item" href="/twomatrixsum">Sum two matrix</a>
                        <a class="dropdown-item" href="/matrixmultiplyonnumber">Multiply matrix on number</a>
                        <a class="dropdown-item" href="/multiplymatrix">Multiply matrix on matrix</a>
                        <div class="dropdown-divider"></div>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>


<p> Choice size matrix</p>
<select name="sizeMatrix" id="sizeMatrix"  onchange="choiceSizeMatrix()">
    <option></option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>

</select>


<form id="matrixForm">
    <table id="tableMatrix">
        <button type="submit" id="send" onclick="sendingJSON();return false">send</button>

    </table>
</form>

<br>
<div id="resDiv">
    <p id="resP"></p>
</div>

<script>
    function sendingJSON(){
      let  formData = new FormData(document.forms.matrixForm)

                       let xhr = new XMLHttpRequest()
                       xhr.responseType = "json"
                       xhr.open("POST","http://217.73.80.14:8080/calc")
                       xhr.onload = function () {
                       let resP = document.getElementById('resP')
                       resP.innerHTML = 'Determinant is ' + xhr.response
                       }
                       xhr.setRequestHeader("Content-Type", "application/json");

                       let resArr = []
                       let key

                       for(var pair of formData.entries()) {
                      resArr.push(pair[1])
            }

           let resObj = {
           "matrix": resArr
           }
            xhr.send(JSON.stringify(resObj))

    }


</script>
<script src="createMatrix.js"></script>
</body>
</html>